# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: a0f4b4be9db51cd7abfc14795619ca76a7f36d08e3573014449adca9fa72e795ab561e42dbe681513c021331a017334d110eb6ad90c699113029cec3b74a0ded

test:
  secret_key_base: 74f280e66e9dd0aba6b794b48bcc4b844647e76d1f3b44952e5b39f87cb0e79028ccdb56d936c2434d9a6baa9ef3e39fdccd495c8eb42b00d5e945737de2049a

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
